In [32]:
import pandas as pd
df=pd.read_csv('C:/Users/Balakrishna/Downloads/FitBit data.csv')
df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [60]:
#converting date to date format
df['ActDate']= pd.to_datetime(df['ActivityDate'])

In [61]:
df['ActDate']

0     2016-03-25
1     2016-03-26
2     2016-03-27
3     2016-03-28
4     2016-03-29
         ...
452   2016-04-08
453   2016-04-09
454   2016-04-10
455   2016-04-11
456   2016-04-12
Name: ActDate, Length: 457, dtype: datetime64[ns]

In [5]:
#number of unique ids
len(df['Id'].unique())

35

In [100]:
#very active persons id
max=df['VeryActiveMinutes'].max()
df[df['VeryActiveMinutes']==max]['Id']

304    5577150313
Name: Id, dtype: int64

In [53]:
#number of ids not logged their activity
len(df[df['LoggedActivitiesDistance']==0]['Id'])

433

In [101]:
#ids of lazy persons
lazy=df['SedentaryMinutes'].max()
df[df['SedentaryMinutes']==lazy]['Id']

52     1844505072
96     2320127002
97     2320127002
98     2320127002
99     2320127002
          ...
402    8253242879
403    8253242879
404    8253242879
405    8253242879
412    8253242879
Name: Id, Length: 63, dtype: int64

In [57]:
# healthy persons 
len(df[df['Calories']>=3000])

70

In [102]:
#not regular persons with respect to activity
days=len(df['ActivityDate'].unique())
x=df.groupby('Id')['ActivityDate'].count()
j=0
for i in x:
    if i <32:
        j=j+1
        
    else:
        print('')
print('number of irregulars is:',j)

number of irregulars is: 33

In [121]:
#third most active person
df1=df.sort_values(by='VeryActiveMinutes',ascending=False)
df1['Id'][2]

1503960366

In [122]:
#fifth most lazy person
df2=df.sort_values(by='SedentaryMinutes',ascending=False)
df2['Id'][4]

1503960366

In [125]:
#accumulative calories burn for a person
df.groupby('Id')['Calories'].sum()

Id
1503960366    34128
1624580081    25705
1644430081    29164
1844505072    19391
1927972279    27048
2022484408    29704
2026352035    16266
2320127002    18385
2347167796    30320
2873212765    20349
2891001357    18187
3372868164    18603
3977333714    16777
4020332650    98412
4057192912    60913
4319703577    23931
4388161847    14442
4445114986    31617
4558609924    21962
4702921684    42322
5553957443    21630
5577150313    36303
6117666160    20993
6290855005    21656
6391747486    15868
6775888955    24523
6962181067    29249
7007744171    31525
7086361926    26124
8053475328    31825
8253242879    17556
8378563200    40274
8583815059    19130
8792009665    24884
8877689391    41414
Name: Calories, dtype: int64