In [313]:
import pandas as pd

df1=pd.read_excel('C:/Users/Balakrishna/Downloads/Superstore_USA.xlsx')
df1.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523

In [17]:
df2=pd.read_excel('C:/Users/Balakrishna/Downloads/Superstore_USA.xlsx',sheet_name=1)
df2.head()

   Order ID    Status
0        65  Returned
1       612  Returned
2       614  Returned
3       678  Returned
4       710  Returned

In [7]:
df.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [9]:
#number of unique customers
len(df['Customer ID'].unique())

2703

In [24]:
#concatanation of order and return data
df3=pd.concat([df1,df2])
df3.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status
0,18606.0,Not Specified,0.01,2.88,0.50,2.0,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101.0,2012-05-28,2012-05-30,1.3200,2.0,5.90,88525,NaN
1,20847.0,High,0.01,2.84,0.93,3.0,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221.0,2010-07-07,2010-07-08,4.5600,4.0,13.01,88522,NaN
2,23086.0,Not Specified,0.03,6.68,6.15,3.0,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221.0,2011-07-27,2011-07-28,-47.6400,7.0,49.92,88523,NaN
3,23087.0,Not Specified,0.01,5.68,3.60,3.0,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221.0,2011-07-27,2011-07-28,-30.5100,7.0,41.64,88523,NaN
4,23088.0,Not Specified,0.00,205.99,2.50,3.0,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221.0,2011-07-27,2011-07-27,998.2023,8.0,1446.67,88523,NaN

In [37]:
df3.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID', 'Status'],
      dtype='object')

In [29]:
# return that we ahve recived and with a product id
df3[df3['Status']=='Returned']['Order ID'].count()

1634

In [35]:
# regions we are selling a product and who is a manager for a respective region \n",

df3['Region'].unique()
df3.groupby('Region')['Customer Name'].unique()

Region
Central    [Janice Fletcher, Gwendolyn F Tyson, Marion No...
East       [Leon Gill, Melanie Garner, Lorraine Houston, ...
South      [Anne Nguyen, Lynn Morrow, Victoria Baker Hoov...
West       [Bonnie Potter, Ronnie Proctor, Dwight Hwang, ...
Name: Customer Name, dtype: object

In [61]:
# differnet shipement mode 
df5=df3['Ship Mode'].unique()
df5

array(['Regular Air', 'Express Air', 'Delivery Truck', nan], dtype=object)

In [74]:
#total orders
total=df3['Order ID'].count()
total

11060

In [86]:
#percentage usablity of all the shipment mode with respect to datase
df4=df3.groupby('Ship Mode')['Order ID'].count()
df4
def percentage(a):
    
    percent=(a/total)*100
    print('ship mode is :',df5)
    print('shipment mode percentage is',percent)
for i in df4:
        percentage(i)

ship mode is : ['Regular Air' 'Express Air' 'Delivery Truck' nan]
shipment mode percentage is 11.600361663652803
ship mode is : ['Regular Air' 'Express Air' 'Delivery Truck' nan]
shipment mode percentage is 10.009041591320072
ship mode is : ['Regular Air' 'Express Air' 'Delivery Truck' nan]
shipment mode percentage is 63.616636528028934

In [85]:
df4

Ship Mode
Delivery Truck    1283
Express Air       1107
Regular Air       7036
Name: Order ID, dtype: int64

In [112]:
# diffrence between order date and shipment date\n",
df3['difference']=df3['Ship Date']-df3['Order Date']
df3.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status,difference
0,18606.0,Not Specified,0.01,2.88,0.50,2.0,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Addison,60101.0,2012-05-28,2012-05-30,1.3200,2.0,5.90,88525,NaN,2 days
1,20847.0,High,0.01,2.84,0.93,3.0,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221.0,2010-07-07,2010-07-08,4.5600,4.0,13.01,88522,NaN,1 days
2,23086.0,Not Specified,0.03,6.68,6.15,3.0,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221.0,2011-07-27,2011-07-28,-47.6400,7.0,49.92,88523,NaN,1 days
3,23087.0,Not Specified,0.01,5.68,3.60,3.0,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Anacortes,98221.0,2011-07-27,2011-07-28,-30.5100,7.0,41.64,88523,NaN,1 days
4,23088.0,Not Specified,0.00,205.99,2.50,3.0,Bonnie Potter,Express Air,Corporate,Technology,...,Anacortes,98221.0,2011-07-27,2011-07-27,998.2023,8.0,1446.67,88523,NaN,0 days

In [121]:
# order id we have shipment duration more than 10 days \n",

df3['Order ID'][df3['difference']>'10days']

643     87215
1548    86318
1549    86318
1678    87957
1679    87957
1680    87957
1697    19556
1698    19556
1699    19556
2515    86177
5548    88223
5673    88352
5859    87572
5881    91294
8607    86434
8609    86436
8610    86436
8973    87300
8982    19841
8983    19841
8993    19841
8996    87300
8997    87300
Name: Order ID, dtype: int64

In [289]:
#a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well \n",
df=(df3['Status']=='Returned'),(df3['difference']>'15days')
list(df)

[0       False
 1       False
 2       False
 3       False
 4       False
         ...
 1629     True
 1630     True
 1631     True
 1632     True
 1633     True
 Name: Status, Length: 11060, dtype: bool,
 0       False
 1       False
 2       False
 3       False
 4       False
         ...
 1629    False
 1630    False
 1631    False
 1632    False
 1633    False
 Name: difference, Length: 11060, dtype: bool]

In [297]:
df7=df3['Customer Name'][df3['difference']>'15days'],(df3['Status']=='Returned')
df7

(643     Brenda Nelson Blanchard
 1678         Christopher Bryant
 1680         Christopher Bryant
 1697                 Neal Wolfe
 1699                 Neal Wolfe
 2515            Virginia Rivera
 5673               Carrie Boyle
 5859              Lester Sawyer
 5881                 Anna Glenn
 8607                Jay Hubbard
 8609                Jay Hubbard
 8610                Jay Hubbard
 8973              Earl Donnelly
 8982               Peter Brooks
 8983               Peter Brooks
 8993               Peter Brooks
 8996             Milton Harrell
 8997             Milton Harrell
 Name: Customer Name, dtype: object,
 0       False
 1       False
 2       False
 3       False
 4       False
         ...
 1629     True
 1630     True
 1631     True
 1632     True
 1633     True
 Name: Status, Length: 11060, dtype: bool)

In [159]:
def temp():
    for i in df7:
        return True
temp()

True

In [263]:
#. Gorup by region and find out which region is more profitable \
f1=df3.groupby('Region')['Profit'].sum()
f2=f1.max()
f2
for i in f1:
    if i==f2:
        print('region is :',i )

region is : 519825.56706659996

In [260]:
d1= df3.groupby('State or Province')['Discount'].sum()
d1
d2=d1.max()
d2
for i in d1:
    if i==d2:
        print('state or province is :',i )

state or province is : 52.28

In [273]:
#  a list of unique postal code
import numpy as np
arr=df3['Postal Code'].unique()
arr
from array import *
def array_list(array):
    num_list = array.tolist() # list
    print(num_list)
array_list(arr)

[60101.0, 98221.0, 91776.0, 95123.0, 2724.0, 3110.0, 8101.0, 8109.0, 7203.0, 2907.0, 55372.0, 11787.0, 13210.0, 59405.0, 59601.0, 59801.0, 68005.0, 10012.0, 92653.0, 92677.0, 92530.0, 92630.0, 90712.0, 93534.0, 90260.0, 97405.0, 97526.0, 97030.0, 97123.0, 97303.0, 62002.0, 98373.0, 98052.0, 75019.0, 23834.0, 62701.0, 60107.0, 60477.0, 14150.0, 12180.0, 77642.0, 75080.0, 77471.0, 78664.0, 75088.0, 24153.0, 94043.0, 92563.0, 94559.0, 10177.0, 2917.0, 5401.0, 4070.0, 2331.0, 8830.0, 8701.0, 7470.0, 7481.0, 5201.0, 97035.0, 44708.0, 45231.0, 44105.0, 95687.0, 5451.0, 94591.0, 70056.0, 22102.0, 60601.0, 66209.0, 66215.0, 66502.0, 66062.0, 6510.0, 4401.0, 4005.0, 2129.0, 2038.0, 1852.0, 1752.0, 2067.0, 3820.0, 8618.0, 7644.0, 7110.0, 8861.0, 7095.0, 2895.0, 97128.0, 97504.0, 98103.0, 84118.0, 84041.0, 93277.0, 76903.0, 78207.0, 60004.0, 94952.0, 1510.0, 1106.0, 1880.0, 6401.0, 6360.0, 2664.0, 15122.0, 76148.0, 5439.0, 5403.0, 37664.0, 37918.0, 37086.0, 37087.0, 80525.0, 80817.0, 60452.0, 76131.0, 98059.0, 99352.0, 37804.0, 70802.0, 4092.0, 7024.0, 76240.0, 98158.0, 78415.0, 94122.0, 4011.0, 4240.0, 2474.0, 2540.0, 1580.0, 3038.0, 60505.0, 84043.0, 84321.0, 66212.0, 48138.0, 85335.0, 74006.0, 75217.0, 77536.0, 90660.0, 13501.0, 11580.0, 63114.0, 84044.0, 84047.0, 84107.0, 60453.0, 2021.0, 2766.0, 7101.0, 28227.0, 60302.0, 60462.0, 50208.0, 80027.0, 66203.0, 81503.0, 80634.0, 37922.0, 38109.0, 55423.0, 55901.0, 55113.0, 80126.0, 80232.0, 17331.0, 33772.0, 87505.0, 12208.0, 44106.0, 43229.0, 78589.0, 86001.0, 85234.0, 85301.0, 30297.0, 28204.0, 6824.0, 6111.0, 6226.0, 7109.0, 66614.0, 67212.0, 80538.0, 80233.0, 80134.0, 6830.0, 6770.0, 6855.0, 4073.0, 1069.0, 2725.0, 21234.0, 21128.0, 21208.0, 20854.0, 98115.0, 91945.0, 94404.0, 60130.0, 1007.0, 7111.0, 8052.0, 21133.0, 60510.0, 3045.0, 7410.0, 97045.0, 97206.0, 44221.0, 6478.0, 33181.0, 4101.0, 3246.0, 3101.0, 7010.0, 2878.0, 33132.0, 13601.0, 85338.0, 86401.0, 19406.0, 93727.0, 4072.0, 7628.0, 7071.0, 2816.0, 2910.0, 2886.0, 94601.0, 2149.0, 1840.0, 48234.0, 37814.0, 62223.0, 61008.0, 61701.0, 60440.0, 19026.0, 68025.0, 68801.0, 68847.0, 68502.0, 48509.0, 63105.0, 13021.0, 13905.0, 28001.0, 45406.0, 43015.0, 95240.0, 90805.0, 4901.0, 8360.0, 78666.0, 7026.0, 93405.0, 94403.0, 2358.0, 7201.0, 7032.0, 7666.0, 68104.0, 89701.0, 94583.0, 92704.0, 6010.0, 6108.0, 4330.0, 1462.0, 2370.0, 7047.0, 7480.0, 61801.0, 68701.0, 56301.0, 94024.0, 93635.0, 95032.0, 90266.0, 1923.0, 2457.0, 3054.0, 8332.0, 90069.0, 92683.0, 90604.0, 2019.0, 1915.0, 2341.0, 7506.0, 8601.0, 30318.0, 1845.0, 39180.0, 11704.0, 11795.0, 60543.0, 95020.0, 4106.0, 2062.0, 7042.0, 10154.0, 24281.0, 37130.0, 84404.0, 84057.0, 55416.0, 46041.0, 42104.0, 41011.0, 95336.0, 4038.0, 2148.0, 8753.0, 76067.0, 11226.0, 97756.0, 85204.0, 85737.0, 84062.0, 64064.0, 63043.0, 22025.0, 60061.0, 93101.0, 95051.0, 26501.0, 88201.0, 78155.0, 75090.0, 90008.0, 68046.0, 84604.0, 60067.0, 60068.0, 60087.0, 60185.0, 75081.0, 60187.0, 60090.0, 39701.0, 89015.0, 61554.0, 61604.0, 91767.0, 6415.0, 4210.0, 2032.0, 1801.0, 3301.0, 8021.0, 7031.0, 7054.0, 60091.0, 60517.0, 46016.0, 47401.0, 46032.0, 47201.0, 21136.0, 81001.0, 90045.0, 14224.0, 10605.0, 10701.0, 97301.0, 97477.0, 97224.0, 81007.0, 48195.0, 5701.0, 43952.0, 20852.0, 20602.0, 55106.0, 55378.0, 95062.0, 93454.0, 98119.0, 60544.0, 62301.0, 55379.0, 60089.0, 89115.0, 91730.0, 2116.0, 1540.0, 77373.0, 37211.0, 75203.0, 52501.0, 64133.0, 63301.0, 64506.0, 98387.0, 99207.0, 98408.0, 77478.0, 63116.0, 63376.0, 80229.0, 80030.0, 46307.0, 46312.0, 98105.0, 90041.0, 90405.0, 95404.0, 95070.0, 6040.0, 6460.0, 6850.0, 6702.0, 1520.0, 2152.0, 7067.0, 2840.0, 48841.0, 89031.0, 89041.0, 41042.0, 6614.0, 1803.0, 1420.0, 1089.0, 2190.0, 3053.0, 3079.0, 7003.0, 7016.0, 7039.0, 8232.0, 7901.0, 85345.0, 85023.0, 60423.0, 40324.0, 86301.0, 86314.0, 97062.0, 61201.0, 98661.0, 14215.0, 61107.0, 97068.0, 18103.0, 16602.0, 72143.0, 92054.0, 6033.0, 6484.0, 6437.0, 92691.0, 95351.0, 6512.0, 7001.0, 73064.0, 27502.0, 84067.0, 29915.0, 84106.0, 32168.0, 37830.0, 42420.0, 85254.0, 8046.0, 99362.0, 37167.0, 37174.0, 79605.0, 75002.0, 79109.0, 71854.0, 80033.0, 21222.0, 6511.0, 8002.0, 91745.0, 93117.0, 6114.0, 2210.0, 1450.0, 1060.0, 3839.0, 92544.0, 92345.0, 6405.0, 6810.0, 6492.0, 75503.0, 77590.0, 46514.0, 55126.0, 89502.0, 66202.0, 11575.0, 85635.0, 93422.0, 20746.0, 76017.0, 78745.0, 77520.0, 77705.0, 76021.0, 89431.0, 20024.0, 83616.0, 76201.0, 33430.0, 10039.0, 1887.0, 7652.0, 42240.0, 26003.0, 78521.0, 77803.0, 76028.0, 96003.0, 92374.0, 1463.0, 7008.0, 8857.0, 7050.0, 7501.0, 90278.0, 6776.0, 2127.0, 1605.0, 7002.0, 2914.0, 90049.0, 75482.0, 75067.0, 19901.0, 19711.0, 94061.0, 60610.0, 6105.0, 2108.0, 3842.0, 92503.0, 95677.0, 2339.0, 1841.0, 7079.0, 91761.0, 1718.0, 1701.0, 1040.0, 2151.0, 7650.0, 93030.0, 3431.0, 7601.0, 7450.0, 11720.0, 60459.0, 7712.0, 72022.0, 28806.0, 27217.0, 27511.0, 66762.0, 55125.0, 15221.0, 11722.0, 14225.0, 11725.0, 27514.0, 28205.0, 28027.0, 27707.0, 43017.0, 15102.0, 95695.0, 95991.0, 92399.0, 90004.0, 6473.0, 2109.0, 7030.0, 85351.0, 85374.0, 3060.0, 2864.0, 11727.0, 10573.0, 60409.0, 62901.0, 18018.0, 60441.0, 60174.0, 60193.0, 60076.0, 11729.0, 11746.0, 8816.0, 8817.0, 7646.0, 65721.0, 10282.0, 18040.0, 75220.0, 77566.0, 75146.0, 78041.0, 77573.0, 80004.0, 85281.0, 85705.0, 85364.0, 72714.0, 72015.0, 92592.0, 95661.0, 75116.0, 78852.0, 78539.0, 2118.0, 79907.0, 76039.0, 75234.0, 60188.0, 75056.0, 77381.0, 75701.0, 77901.0, 76706.0, 75165.0, 76086.0, 6611.0, 1821.0, 1056.0, 1075.0, 7801.0, 90640.0, 1876.0, 7086.0, 3801.0, 7407.0, 8226.0, 7070.0, 19805.0, 32701.0, 2040.0, 10280.0, 27237.0, 84660.0, 84663.0, 35756.0, 92646.0, 90301.0, 6050.0, 6790.0, 20016.0, 34142.0, 1108.0, 1776.0, 7843.0, 2920.0, 32712.0, 46806.0, 46404.0, 46530.0, 97420.0, 19013.0, 2112.0, 1906.0, 2451.0, 7052.0, 2861.0, 19140.0, 98801.0, 75028.0, 76106.0, 75007.0, 75104.0, 78613.0, 36830.0, 35020.0, 78641.0, 10009.0, 75057.0, 60110.0, 61821.0, 77530.0, 76031.0, 80013.0, 80303.0, 40422.0, 80020.0, 80104.0, 80906.0, 73521.0, 33433.0, 33437.0, 34210.0, 91941.0, 1930.0, 8401.0, 7097.0, 46142.0, 46324.0, 47591.0, 19134.0, 15241.0, 6320.0, 47274.0, 1749.0, 2153.0, 33180.0, 75601.0, 84074.0, 98902.0, 25314.0, 82604.0, 84084.0, 84120.0, 60623.0, 11554.0, 90058.0, 80022.0, 80219.0, 77840.0, 2478.0, 1453.0, 2744.0, 8302.0, 8028.0, 7940.0, 62234.0, 10170.0, 17201.0, 77546.0, 33511.0, 33063.0, 33055.0, 78596.0, 76308.0, 52761.0, 48101.0, 32707.0, 79424.0, 75901.0, 76063.0, 75098.0, 95207.0, 6408.0, 2703.0, 1832.0, 22304.0, 46342.0, 46203.0, 94025.0, 94086.0, 91360.0, 1027.0, 1867.0, 8863.0, 60653.0, 48104.0, 49017.0, 48708.0, 84003.0, 92553.0, 95037.0, 2113.0, 47130.0, 46901.0, 47905.0, 28031.0, 44112.0, 80112.0, 21146.0, 20901.0, 44035.0, 44117.0, 65807.0, 63130.0, 63135.0, 16509.0, 17112.0, 96150.0, 6795.0, 2638.0, 8901.0, 97801.0, 29687.0, 46226.0, 46952.0, 46410.0, 68601.0, 84010.0, 84015.0, 43081.0, 44145.0, 44691.0, 82001.0, 82716.0, 33134.0, 53110.0, 60016.0, 60516.0, 46360.0, 10045.0, 94044.0, 32137.0, 59901.0, 14901.0, 33065.0, 60478.0, 46544.0, 47302.0, 47150.0, 62205.0, 6488.0, 6710.0, 1545.0, 2072.0, 55305.0, 35211.0, 35601.0, 27288.0, 92262.0, 63385.0, 92253.0, 78363.0, 33314.0, 32114.0, 46060.0, 46368.0, 47374.0, 39530.0, 39056.0, 38701.0, 39503.0, 22003.0, 22204.0, 24060.0, 78501.0, 75150.0, 33441.0, 32720.0, 60123.0, 45385.0, 28314.0, 28307.0, 6607.0, 77571.0, 63044.0, 44094.0, 44511.0, 25705.0, 82070.0, 68901.0, 20601.0, 11598.0, 11010.0, 11520.0, 95823.0, 93905.0, 2445.0, 1748.0, 45324.0, 46322.0, 97601.0, 17602.0, 46375.0, 11542.0, 10528.0, 37743.0, 74012.0, 77095.0, 39401.0, 38637.0, 39212.0, 92404.0, 94070.0, 6901.0, 11714.0, 60098.0, 27203.0, 98072.0, 90503.0, 15131.0, 33403.0, 33445.0, 22015.0, 22901.0, 23320.0, 67114.0, 25801.0, 45014.0, 45840.0, 60611.0, 77301.0, 60007.0, 20190.0, 72701.0, 72903.0, 71901.0, 19057.0, 39301.0, 44118.0, 19464.0, 30062.0, 30907.0, 30265.0, 49534.0, 27529.0, 35473.0, 72401.0, 72209.0, 92037.0, 43026.0, 45424.0, 44240.0, 45429.0, 83843.0, 88310.0, 20012.0, 11550.0, 28052.0, 27534.0, 27405.0, 27834.0, 75034.0, 30305.0, 73034.0, 73703.0, 73505.0, 73110.0, 90036.0, 79701.0, 95376.0, 1607.0, 32725.0, 34698.0, 63141.0, 60126.0, 60201.0, 61032.0, 32780.0, 46614.0, 47802.0, 46383.0, 47906.0, 50010.0, 92672.0, 92105.0, 1945.0, 30188.0, 59102.0, 61401.0, 60137.0, 94110.0, 50021.0, 52722.0, 63119.0, 26101.0, 36330.0, 90032.0, 38654.0, 39208.0, 48187.0, 49236.0, 48126.0, 48127.0, 33178.0, 11801.0, 52601.0, 50613.0, 52402.0, 15146.0, 38671.0, 1810.0, 2334.0, 1469.0, 43230.0, 1886.0, 11741.0, 35630.0, 92008.0, 6443.0, 2110.0, 1826.0, 2035.0, 2169.0, 1550.0, 1570.0, 7080.0, 7090.0, 2808.0, 87105.0, 94306.0, 22193.0, 24541.0, 1519.0, 7036.0, 7055.0, 2806.0, 14217.0, 43130.0, 45801.0, 54915.0, 1028.0, 2186.0, 44052.0, 44903.0, 30269.0, 95969.0, 72113.0, 72450.0, 71603.0, 91104.0, 6030.0, 2351.0, 29611.0, 29651.0, 28601.0, 75043.0, 78626.0, 75051.0, 76051.0, 66801.0, 84020.0, 72756.0, 15228.0, 59715.0, 59750.0, 55066.0, 35160.0, 33916.0, 48066.0, 48073.0, 48601.0, 48080.0, 49455.0, 52732.0, 12047.0, 38801.0, 19090.0, 48227.0, 48823.0, 80122.0, 80501.0, 84117.0, 84037.0, 43302.0, 45040.0, 11758.0, 77070.0, 23666.0, 22801.0, 81301.0, 48034.0, 48310.0, 51503.0, 19401.0, 15235.0, 19143.0, 15239.0, 79072.0, 48021.0, 44017.0, 53005.0, 75401.0, 32174.0, 32765.0, 32905.0, 10550.0, 28352.0, 44646.0, 67901.0, 69101.0, 57006.0, 24501.0, 88220.0, 27260.0, 23111.0, 23602.0, 28079.0, 41075.0, 48336.0, 48505.0, 48135.0, 65203.0, 3051.0, 14853.0, 44236.0, 72801.0, 47362.0, 10956.0, 10801.0, 35904.0, 95928.0, 29464.0, 29577.0, 29406.0, 29730.0, 52803.0, 50315.0, 52001.0, 63129.0, 28540.0, 28081.0, 28110.0, 23518.0, 22124.0, 76117.0, 76543.0, 72116.0, 72762.0, 72301.0, 2324.0, 63031.0, 64118.0, 63042.0, 64055.0, 88101.0, 33407.0, 53094.0, 20151.0, 33311.0, 40214.0, 40356.0, 48180.0, 48098.0, 48093.0, 48329.0, 48185.0, 49509.0, 55124.0, 16146.0, 2532.0, 2026.0, 2018.0, 7011.0, 42301.0, 91911.0, 1721.0, 1013.0, 1610.0, 2852.0, 55434.0, 65109.0, 28115.0, 28560.0, 14701.0, 11756.0, 11757.0, 55420.0, 55429.0, 55445.0, 55337.0, 50501.0, 52240.0, 30337.0, 20814.0, 20715.0, 21228.0, 77015.0, 44256.0, 34787.0, 87401.0, 88240.0, 19087.0, 95610.0, 91711.0, 2048.0, 33801.0, 19120.0, 34639.0, 11561.0, 19601.0, 18504.0, 16801.0, 18705.0, 42003.0, 27604.0, 27801.0, 30161.0, 30076.0, 64804.0, 64130.0, 63122.0, 39560.0, 29662.0, 78550.0, 77036.0, 14304.0, 14120.0, 15601.0, 54703.0, 53713.0, 53132.0, 29301.0, 29483.0, 55433.0, 55016.0, 2456.0, 7017.0, 7040.0, 34683.0, 32404.0, 10011.0, 57201.0, 53150.0, 33971.0, 6374.0, 92236.0, 1440.0, 2420.0, 52302.0, 54302.0, 53220.0, 53545.0, 20735.0, 20740.0, 60139.0, 60025.0, 40258.0, 40475.0, 71301.0, 21044.0, 21114.0, 21501.0, 21040.0, 82901.0, 33917.0, 34982.0, 32259.0, 77340.0, 33024.0, 55803.0, 55122.0, 55343.0, 60031.0, 49505.0, 49423.0, 10024.0, 88001.0, 87124.0, 11572.0, 30328.0, 31401.0, 60103.0, 52241.0, 92804.0, 94509.0, 60699.0, 2718.0, 7960.0, 60035.0, 60194.0, 60432.0, 6074.0, 23805.0, 23701.0, 23223.0, 76053.0, 75061.0, 76248.0, 44107.0, 76541.0, 73160.0, 20004.0, 32935.0, 32953.0, 33142.0, 1938.0, 55410.0, 53142.0, 35209.0, 35244.0, 35810.0, 36608.0, 55014.0, 55432.0, 10035.0, 71111.0, 49783.0, 28144.0, 27360.0, 27587.0, 60901.0, 30080.0, 30458.0, 70364.0, 70065.0, 70506.0, 33881.0, 30084.0, 72023.0, 94521.0, 92627.0, 6457.0, 1913.0, 7205.0, 92024.0, 60102.0, 46321.0, 77489.0, 94015.0, 2111.0, 2138.0, 7631.0, 7740.0, 2863.0, 2908.0, 75109.0, 36203.0, 70601.0, 92307.0, 2492.0, 32789.0, 32708.0, 10580.0, 24017.0, 22153.0, 23434.0, 23464.0, 90068.0, 43213.0, 17403.0, 54601.0, 53711.0, 54220.0, 44060.0, 10562.0, 11803.0, 55076.0, 98144.0, 94526.0, 95616.0, 10165.0, 36116.0, 36801.0, 36869.0, 36067.0, 35401.0, 48141.0, 49201.0, 53051.0, 53209.0, 31707.0, 30605.0, 6450.0, 7621.0, 8871.0, 2184.0, 2777.0, 49002.0, 57401.0, 10004.0, 57103.0, 38134.0, 37027.0, 28403.0, 74403.0, 73071.0, 73120.0, 74055.0, 22601.0, 31088.0, 83704.0, 33023.0, 83701.0, 74601.0, 93309.0, 15234.0, 67037.0, 30904.0, 31907.0, 30721.0, 2471.0, 8865.0, 7076.0, 46350.0, 57701.0, 37620.0, 26301.0, 98002.0, 22980.0, 72956.0, 33952.0, 35216.0, 85323.0, 86442.0, 85704.0, 83501.0, 32503.0, 32808.0, 33566.0, 60131.0, 21042.0, 21221.0, 49001.0, 49508.0, 48911.0, 60438.0, 30135.0, 37421.0, 37042.0, 98006.0, 98226.0, 98011.0, 98310.0, 94568.0, 6241.0, 1757.0, 83605.0, 48146.0, 48154.0, 85224.0, 10115.0, 29801.0, 70072.0, 33317.0, 34759.0, 48205.0, 6708.0, 2050.0, 2891.0, 30338.0, 30344.0, 20877.0, 27893.0, 58501.0, 97071.0, 74801.0, 74074.0, 70003.0, 48071.0, 48640.0, 50158.0, 50401.0, 51106.0, 90022.0, 1901.0, 1950.0, 7083.0, 37311.0, 45042.0, 43055.0, 71203.0, 92020.0, 92243.0, 33161.0, 55044.0, 56001.0, 74133.0, 97321.0, 33160.0, 21061.0, 21740.0, 38017.0, 38401.0, 79762.0, 98146.0, 98198.0, 98026.0, 32601.0, 62040.0, 67601.0, 68128.0, 75460.0, 77506.0, 98208.0, 98023.0, 98027.0, 33012.0, 44070.0, 98107.0, 34287.0, 28206.0, 44039.0, 44133.0, 44134.0, 43068.0, 55369.0, 30809.0, 30501.0, 44125.0, 58103.0, 58201.0, 58701.0, 50322.0, 50701.0, 50265.0, 33021.0, 60603.0, 20707.0, 29624.0, 29418.0, 95630.0, 2215.0, 2719.0, 2345.0, 2180.0, 48858.0, 14043.0, 98042.0, 43123.0, 55119.0, 55407.0, 54956.0, 21220.0, 43050.0, 33030.0, 32216.0, 53151.0, 53154.0, 54901.0, 58601.0, 44870.0, 45503.0, 55345.0, 67801.0, 67846.0, 53402.0, 53081.0, 49442.0, 48375.0, 48237.0, 48342.0, 48060.0, 83814.0, 83402.0, 56560.0, 14609.0, 13440.0, 2145.0, 7065.0, 10583.0, 99336.0, 98031.0, 97007.0, 97005.0, 97701.0, 60148.0, 58554.0, 97330.0, 67501.0, 66104.0, 66044.0, 66048.0, 94704.0, 42071.0, 1742.0, 2740.0, 1095.0, 98034.0, 98503.0, 44312.0, 44515.0, 55128.0, 72712.0, 72032.0, 90061.0, 44224.0, 44136.0, 43615.0, 19112.0, 34239.0, 16148.0, 33334.0, 12306.0, 45011.0, 11967.0, 34761.0, 83642.0, 83686.0, 77041.0, 83201.0, 83854.0, 70560.0, 70117.0, 32839.0, 10013.0, 60160.0, 61265.0, 60056.0, 71109.0, 70458.0, 60060.0, 60540.0, 61761.0, 77581.0, 78660.0, 78577.0, 83440.0, 92277.0, 34769.0, 33710.0, 32771.0, 48183.0, 75023.0, 33068.0, 32004.0, 32127.0, 34952.0, 6903.0, 33458.0, 55060.0, 55441.0, 33569.0, 54481.0, 53590.0, 34609.0, 94109.0, 60062.0, 92025.0, 95501.0, 83301.0, 90210.0, 37064.0, 37066.0, 31313.0, 33322.0, 32303.0, 38138.0, 37075.0, 54880.0, 53186.0, 54401.0, 94513.0, 91505.0, 7701.0, 21403.0, 20906.0, 10112.0, 33319.0, 98632.0, 98037.0, 98270.0, 49221.0, 45431.0, 94533.0, 2364.0, 7060.0, 36701.0, 11703.0, 98273.0, 98502.0, 98444.0, 29203.0, 29501.0, 33156.0, 34741.0, 20170.0, 95746.0, 7094.0, 33404.0, 33411.0, 33461.0, 18201.0, 1001.0, 1301.0, 1760.0, 2563.0, 1890.0, 8873.0, 38301.0, 37604.0, 48239.0, 21113.0, 33614.0, 97060.0, 20006.0, 48307.0, 99301.0, 99163.0, 92231.0, 93010.0, 53213.0, 53214.0, 53095.0, 21215.0, 45373.0, 43221.0, 44483.0, 20832.0, 21117.0, 30144.0, 30240.0, 31204.0, 44512.0, 43402.0, 6820.0, 60014.0, 61832.0, 62521.0, 26554.0, nan]

In [275]:
arr=df3['Postal Code'].unique()
list(arr)

[60101.0,
 98221.0,
 91776.0,
 95123.0,
 2724.0,
 3110.0,
 8101.0,
 8109.0,
 7203.0,
 2907.0,
 55372.0,
 11787.0,
 13210.0,
 59405.0,
 59601.0,
 59801.0,
 68005.0,
 10012.0,
 92653.0,
 92677.0,
 92530.0,
 92630.0,
 90712.0,
 93534.0,
 90260.0,
 97405.0,
 97526.0,
 97030.0,
 97123.0,
 97303.0,
 62002.0,
 98373.0,
 98052.0,
 75019.0,
 23834.0,
 62701.0,
 60107.0,
 60477.0,
 14150.0,
 12180.0,
 77642.0,
 75080.0,
 77471.0,
 78664.0,
 75088.0,
 24153.0,
 94043.0,
 92563.0,
 94559.0,
 10177.0,
 2917.0,
 5401.0,
 4070.0,
 2331.0,
 8830.0,
 8701.0,
 7470.0,
 7481.0,
 5201.0,
 97035.0,
 44708.0,
 45231.0,
 44105.0,
 95687.0,
 5451.0,
 94591.0,
 70056.0,
 22102.0,
 60601.0,
 66209.0,
 66215.0,
 66502.0,
 66062.0,
 6510.0,
 4401.0,
 4005.0,
 2129.0,
 2038.0,
 1852.0,
 1752.0,
 2067.0,
 3820.0,
 8618.0,
 7644.0,
 7110.0,
 8861.0,
 7095.0,
 2895.0,
 97128.0,
 97504.0,
 98103.0,
 84118.0,
 84041.0,
 93277.0,
 76903.0,
 78207.0,
 60004.0,
 94952.0,
 1510.0,
 1106.0,
 1880.0,
 6401.0,
 6360.0,
 2664.0,
 15122.0,
 76148.0,
 5439.0,
 5403.0,
 37664.0,
 37918.0,
 37086.0,
 37087.0,
 80525.0,
 80817.0,
 60452.0,
 76131.0,
 98059.0,
 99352.0,
 37804.0,
 70802.0,
 4092.0,
 7024.0,
 76240.0,
 98158.0,
 78415.0,
 94122.0,
 4011.0,
 4240.0,
 2474.0,
 2540.0,
 1580.0,
 3038.0,
 60505.0,
 84043.0,
 84321.0,
 66212.0,
 48138.0,
 85335.0,
 74006.0,
 75217.0,
 77536.0,
 90660.0,
 13501.0,
 11580.0,
 63114.0,
 84044.0,
 84047.0,
 84107.0,
 60453.0,
 2021.0,
 2766.0,
 7101.0,
 28227.0,
 60302.0,
 60462.0,
 50208.0,
 80027.0,
 66203.0,
 81503.0,
 80634.0,
 37922.0,
 38109.0,
 55423.0,
 55901.0,
 55113.0,
 80126.0,
 80232.0,
 17331.0,
 33772.0,
 87505.0,
 12208.0,
 44106.0,
 43229.0,
 78589.0,
 86001.0,
 85234.0,
 85301.0,
 30297.0,
 28204.0,
 6824.0,
 6111.0,
 6226.0,
 7109.0,
 66614.0,
 67212.0,
 80538.0,
 80233.0,
 80134.0,
 6830.0,
 6770.0,
 6855.0,
 4073.0,
 1069.0,
 2725.0,
 21234.0,
 21128.0,
 21208.0,
 20854.0,
 98115.0,
 91945.0,
 94404.0,
 60130.0,
 1007.0,
 7111.0,
 8052.0,
 21133.0,
 60510.0,
 3045.0,
 7410.0,
 97045.0,
 97206.0,
 44221.0,
 6478.0,
 33181.0,
 4101.0,
 3246.0,
 3101.0,
 7010.0,
 2878.0,
 33132.0,
 13601.0,
 85338.0,
 86401.0,
 19406.0,
 93727.0,
 4072.0,
 7628.0,
 7071.0,
 2816.0,
 2910.0,
 2886.0,
 94601.0,
 2149.0,
 1840.0,
 48234.0,
 37814.0,
 62223.0,
 61008.0,
 61701.0,
 60440.0,
 19026.0,
 68025.0,
 68801.0,
 68847.0,
 68502.0,
 48509.0,
 63105.0,
 13021.0,
 13905.0,
 28001.0,
 45406.0,
 43015.0,
 95240.0,
 90805.0,
 4901.0,
 8360.0,
 78666.0,
 7026.0,
 93405.0,
 94403.0,
 2358.0,
 7201.0,
 7032.0,
 7666.0,
 68104.0,
 89701.0,
 94583.0,
 92704.0,
 6010.0,
 6108.0,
 4330.0,
 1462.0,
 2370.0,
 7047.0,
 7480.0,
 61801.0,
 68701.0,
 56301.0,
 94024.0,
 93635.0,
 95032.0,
 90266.0,
 1923.0,
 2457.0,
 3054.0,
 8332.0,
 90069.0,
 92683.0,
 90604.0,
 2019.0,
 1915.0,
 2341.0,
 7506.0,
 8601.0,
 30318.0,
 1845.0,
 39180.0,
 11704.0,
 11795.0,
 60543.0,
 95020.0,
 4106.0,
 2062.0,
 7042.0,
 10154.0,
 24281.0,
 37130.0,
 84404.0,
 84057.0,
 55416.0,
 46041.0,
 42104.0,
 41011.0,
 95336.0,
 4038.0,
 2148.0,
 8753.0,
 76067.0,
 11226.0,
 97756.0,
 85204.0,
 85737.0,
 84062.0,
 64064.0,
 63043.0,
 22025.0,
 60061.0,
 93101.0,
 95051.0,
 26501.0,
 88201.0,
 78155.0,
 75090.0,
 90008.0,
 68046.0,
 84604.0,
 60067.0,
 60068.0,
 60087.0,
 60185.0,
 75081.0,
 60187.0,
 60090.0,
 39701.0,
 89015.0,
 61554.0,
 61604.0,
 91767.0,
 6415.0,
 4210.0,
 2032.0,
 1801.0,
 3301.0,
 8021.0,
 7031.0,
 7054.0,
 60091.0,
 60517.0,
 46016.0,
 47401.0,
 46032.0,
 47201.0,
 21136.0,
 81001.0,
 90045.0,
 14224.0,
 10605.0,
 10701.0,
 97301.0,
 97477.0,
 97224.0,
 81007.0,
 48195.0,
 5701.0,
 43952.0,
 20852.0,
 20602.0,
 55106.0,
 55378.0,
 95062.0,
 93454.0,
 98119.0,
 60544.0,
 62301.0,
 55379.0,
 60089.0,
 89115.0,
 91730.0,
 2116.0,
 1540.0,
 77373.0,
 37211.0,
 75203.0,
 52501.0,
 64133.0,
 63301.0,
 64506.0,
 98387.0,
 99207.0,
 98408.0,
 77478.0,
 63116.0,
 63376.0,
 80229.0,
 80030.0,
 46307.0,
 46312.0,
 98105.0,
 90041.0,
 90405.0,
 95404.0,
 95070.0,
 6040.0,
 6460.0,
 6850.0,
 6702.0,
 1520.0,
 2152.0,
 7067.0,
 2840.0,
 48841.0,
 89031.0,
 89041.0,
 41042.0,
 6614.0,
 1803.0,
 1420.0,
 1089.0,
 2190.0,
 3053.0,
 3079.0,
 7003.0,
 7016.0,
 7039.0,
 8232.0,
 7901.0,
 85345.0,
 85023.0,
 60423.0,
 40324.0,
 86301.0,
 86314.0,
 97062.0,
 61201.0,
 98661.0,
 14215.0,
 61107.0,
 97068.0,
 18103.0,
 16602.0,
 72143.0,
 92054.0,
 6033.0,
 6484.0,
 6437.0,
 92691.0,
 95351.0,
 6512.0,
 7001.0,
 73064.0,
 27502.0,
 84067.0,
 29915.0,
 84106.0,
 32168.0,
 37830.0,
 42420.0,
 85254.0,
 8046.0,
 99362.0,
 37167.0,
 37174.0,
 79605.0,
 75002.0,
 79109.0,
 71854.0,
 80033.0,
 21222.0,
 6511.0,
 8002.0,
 91745.0,
 93117.0,
 6114.0,
 2210.0,
 1450.0,
 1060.0,
 3839.0,
 92544.0,
 92345.0,
 6405.0,
 6810.0,
 6492.0,
 75503.0,
 77590.0,
 46514.0,
 55126.0,
 89502.0,
 66202.0,
 11575.0,
 85635.0,
 93422.0,
 20746.0,
 76017.0,
 78745.0,
 77520.0,
 77705.0,
 76021.0,
 89431.0,
 20024.0,
 83616.0,
 76201.0,
 33430.0,
 10039.0,
 1887.0,
 7652.0,
 42240.0,
 26003.0,
 78521.0,
 77803.0,
 76028.0,
 96003.0,
 92374.0,
 1463.0,
 7008.0,
 8857.0,
 7050.0,
 7501.0,
 90278.0,
 6776.0,
 2127.0,
 1605.0,
 7002.0,
 2914.0,
 90049.0,
 75482.0,
 75067.0,
 19901.0,
 19711.0,
 94061.0,
 60610.0,
 6105.0,
 2108.0,
 3842.0,
 92503.0,
 95677.0,
 2339.0,
 1841.0,
 7079.0,
 91761.0,
 1718.0,
 1701.0,
 1040.0,
 2151.0,
 7650.0,
 93030.0,
 3431.0,
 7601.0,
 7450.0,
 11720.0,
 60459.0,
 7712.0,
 72022.0,
 28806.0,
 27217.0,
 27511.0,
 66762.0,
 55125.0,
 15221.0,
 11722.0,
 14225.0,
 11725.0,
 27514.0,
 28205.0,
 28027.0,
 27707.0,
 43017.0,
 15102.0,
 95695.0,
 95991.0,
 92399.0,
 90004.0,
 6473.0,
 2109.0,
 7030.0,
 85351.0,
 85374.0,
 3060.0,
 2864.0,
 11727.0,
 10573.0,
 60409.0,
 62901.0,
 18018.0,
 60441.0,
 60174.0,
 60193.0,
 60076.0,
 11729.0,
 11746.0,
 8816.0,
 8817.0,
 7646.0,
 65721.0,
 10282.0,
 18040.0,
 75220.0,
 77566.0,
 75146.0,
 78041.0,
 77573.0,
 80004.0,
 85281.0,
 85705.0,
 85364.0,
 72714.0,
 72015.0,
 92592.0,
 95661.0,
 75116.0,
 78852.0,
 78539.0,
 2118.0,
 79907.0,
 76039.0,
 75234.0,
 60188.0,
 75056.0,
 77381.0,
 75701.0,
 77901.0,
 76706.0,
 75165.0,
 76086.0,
 6611.0,
 1821.0,
 1056.0,
 1075.0,
 7801.0,
 90640.0,
 1876.0,
 7086.0,
 3801.0,
 7407.0,
 8226.0,
 7070.0,
 19805.0,
 32701.0,
 2040.0,
 10280.0,
 27237.0,
 84660.0,
 84663.0,
 35756.0,
 92646.0,
 90301.0,
 6050.0,
 6790.0,
 20016.0,
 34142.0,
 1108.0,
 1776.0,
 7843.0,
 2920.0,
 32712.0,
 46806.0,
 46404.0,
 46530.0,
 97420.0,
 19013.0,
 2112.0,
 1906.0,
 2451.0,
 7052.0,
 2861.0,
 19140.0,
 98801.0,
 75028.0,
 76106.0,
 75007.0,
 75104.0,
 78613.0,
 36830.0,
 35020.0,
 78641.0,
 10009.0,
 75057.0,
 60110.0,
 61821.0,
 77530.0,
 76031.0,
 80013.0,
 80303.0,
 40422.0,
 80020.0,
 80104.0,
 80906.0,
 73521.0,
 33433.0,
 33437.0,
 34210.0,
 91941.0,
 1930.0,
 8401.0,
 7097.0,
 46142.0,
 46324.0,
 47591.0,
 19134.0,
 15241.0,
 6320.0,
 47274.0,
 1749.0,
 2153.0,
 33180.0,
 75601.0,
 84074.0,
 98902.0,
 25314.0,
 82604.0,
 84084.0,
 84120.0,
 60623.0,
 11554.0,
 90058.0,
 80022.0,
 80219.0,
 77840.0,
 2478.0,
 1453.0,
 2744.0,
 8302.0,
 8028.0,
 7940.0,
 62234.0,
 10170.0,
 17201.0,
 77546.0,
 33511.0,
 33063.0,
 33055.0,
 78596.0,
 76308.0,
 52761.0,
 48101.0,
 32707.0,
 79424.0,
 75901.0,
 76063.0,
 75098.0,
 95207.0,
 6408.0,
 2703.0,
 1832.0,
 22304.0,
 46342.0,
 46203.0,
 94025.0,
 94086.0,
 91360.0,
 1027.0,
 1867.0,
 8863.0,
 60653.0,
 48104.0,
 49017.0,
 48708.0,
 84003.0,
 92553.0,
 95037.0,
 2113.0,
 47130.0,
 46901.0,
 47905.0,
 28031.0,
 44112.0,
 80112.0,
 21146.0,
 20901.0,
 44035.0,
 44117.0,
 65807.0,
 63130.0,
 63135.0,
 16509.0,
 17112.0,
 96150.0,
 6795.0,
 2638.0,
 8901.0,
 97801.0,
 29687.0,
 46226.0,
 46952.0,
 46410.0,
 68601.0,
 84010.0,
 84015.0,
 43081.0,
 44145.0,
 44691.0,
 82001.0,
 82716.0,
 33134.0,
 53110.0,
 60016.0,
 60516.0,
 46360.0,
 10045.0,
 94044.0,
 32137.0,
 59901.0,
 14901.0,
 33065.0,
 60478.0,
 46544.0,
 47302.0,
 47150.0,
 62205.0,
 6488.0,
 6710.0,
 1545.0,
 2072.0,
 55305.0,
 35211.0,
 35601.0,
 27288.0,
 92262.0,
 63385.0,
 92253.0,
 78363.0,
 33314.0,
 32114.0,
 46060.0,
 46368.0,
 47374.0,
 39530.0,
 39056.0,
 38701.0,
 39503.0,
 22003.0,
 22204.0,
 24060.0,
 78501.0,
 75150.0,
 33441.0,
 32720.0,
 60123.0,
 45385.0,
 28314.0,
 28307.0,
 6607.0,
 77571.0,
 63044.0,
 44094.0,
 44511.0,
 25705.0,
 82070.0,
 68901.0,
 20601.0,
 11598.0,
 11010.0,
 11520.0,
 95823.0,
 93905.0,
 2445.0,
 1748.0,
 45324.0,
 46322.0,
 97601.0,
 17602.0,
 46375.0,
 11542.0,
 10528.0,
 37743.0,
 74012.0,
 77095.0,
 39401.0,
 38637.0,
 39212.0,
 92404.0,
 94070.0,
 6901.0,
 11714.0,
 60098.0,
 27203.0,
 98072.0,
 90503.0,
 15131.0,
 33403.0,
 33445.0,
 22015.0,
 22901.0,
 23320.0,
 67114.0,
 25801.0,
 45014.0,
 45840.0,
 60611.0,
 77301.0,
 60007.0,
 20190.0,
 72701.0,
 72903.0,
 71901.0,
 19057.0,
 39301.0,
 44118.0,
 19464.0,
 30062.0,
 30907.0,
 30265.0,
 49534.0,
 27529.0,
 35473.0,
 72401.0,
 72209.0,
 92037.0,
 43026.0,
 45424.0,
 44240.0,
 45429.0,
 83843.0,
 88310.0,
 20012.0,
 11550.0,
 28052.0,
 27534.0,
 27405.0,
 27834.0,
 75034.0,
 30305.0,
 73034.0,
 73703.0,
 73505.0,
 73110.0,
 90036.0,
 79701.0,
 95376.0,
 1607.0,
 32725.0,
 34698.0,
 63141.0,
 60126.0,
 60201.0,
 61032.0,
 32780.0,
 46614.0,
 47802.0,
 46383.0,
 47906.0,
 50010.0,
 92672.0,
 92105.0,
 1945.0,
 30188.0,
 59102.0,
 61401.0,
 60137.0,
 94110.0,
 50021.0,
 52722.0,
 63119.0,
 26101.0,
 36330.0,
 90032.0,
 38654.0,
 39208.0,
 48187.0,
 49236.0,
 48126.0,
 48127.0,
 33178.0,
 11801.0,
 52601.0,
 50613.0,
 52402.0,
 15146.0,
 38671.0,
 1810.0,
 2334.0,
 1469.0,
 43230.0,
 1886.0,
 11741.0,
 35630.0,
 92008.0,
 6443.0,
 2110.0,
 1826.0,
 2035.0,
 2169.0,
 1550.0,
 1570.0,
 7080.0,
 7090.0,
 2808.0,
 87105.0,
 94306.0,
 22193.0,
 24541.0,
 ...]

In [283]:
#customer segement is more profitalble find it out
df3.groupby('Customer Segment')['Profit'].max()

Customer Segment
Consumer           8118.8919
Corporate         12504.9045
Home Office       16332.4140
Small Business    11429.4774
Name: Profit, dtype: float64

In [323]:
#the 10th most loss making product catagory
df9=df3.sort_values(by='Profit')
df9.head()
df9.loc[9]['Product Category']

9    Office Supplies
9                NaN
Name: Product Category, dtype: object

In [328]:
#10 top  product with highest margins 
df10=df3.sort_values(by='Product Base Margin',ascending=False)
df10.head()
df10[0:10]['Product Name']

9145                                          Accessory27
4756                                           Accessory4
7607                                          Accessory27
5672                                           Accessory4
4168                    Sterling Rubber Bands by Alliance
807                                           Accessory27
816                                           Accessory27
3994    Office Impressions Heavy Duty Welded Shelving ...
2138                    Sterling Rubber Bands by Alliance
7202    Office Impressions Heavy Duty Welded Shelving ...
Name: Product Name, dtype: object